body{
	margin:0;
	padding:0 auto;
	font-family: 'Poppins', sans-serif;
}
section{
	width:80%;
	margin:auto;
	display:flex;
	margin-top:100px;
}

.first-write{
	width:45%;
}
.first-write h1{
	font-family:inspact;
	font-size:60px;
	padding-left:10px;
	border-left:5px solid;
	border-image-source: linear-gradient(red, orange);
	border-image-slice:1;
		
}
.first-write h1 span{
	color:purple;
}

.first-write a{
	background-color:#FA4242;
	color:white;
	text-decoration:none;
	
	padding:8px 25px;
	border-radius:10px;
}
.first-image{
	width:40%;
	text-align:center;
}
.first-image img{
	width:90%;
	margin-left:150px;
	margin-top:-75px;
}
.box-section{
	display:flex;
}
.container{
	width:25%;
	background-color:pink;
	border-radius:20px;
	padding:12px;
	margin-left:80px;
	margin:auto;
}
.lavender{
	background-color:lavender;
}
.paleturquoise{
	background-color:paleturquoise;
}
.container-img img{
	width:110px;
}

.header h1{
	text-align:center;
	font-size:50px;
	color:#9900FF
}
.header h1 span{
	color:#cc0066;
}

.box-section{
	display:flex;
}
.main1{
	width:80%;
	margin:auto;
	margin-top:100px;
	margin-bottom:150px;
	
}

.main3{
	width:80%;
	margin:auto;
	display:flex;
	background-image:url(img/shape-1.png);
	background-repeat:no-repeat;
	background-position:left;
	background-size:18%;
	padding-bottom:15px;
	margin-left:100px;
}
.about-img img{
	width:65%;
	margin-left:50px;
	padding-left:5%;
}
.write3{
	margin-left:-50px;
}

.write3 a{
	background-color:#FA4242;
	text-decoration:none;
	color:white;
	padding:11px 25px;
	border-radius:10px;
}
.main4{
	width:80%;
	height:420px;
	margin:auto;
	display:flex;
	margin-top:100px;
	background-image:url(img/shape-1.png);
	background-repeat:no-repeat;
	background-position:right bottom;
	background-size:17%;
}
.about-img2 img{
	width:60%;
	margin-left:150px;
}
.write4 p{
	padding-bottom:15px;

}
.write4 a{
	background-color:#FA4242;
	text-decoration:none;
	color:white;
	padding:11px 25px;
	border-radius:10px;
}

.input-site{
	width:80%;
	margin:auto;
	margin-top:50px;
}
.input-site h1{
	text-align:center;
	
}
.input-site hr{
	width:400px;
	height:5px;
	background:linear-gradient(purple,pink);
	margin-top:-20px;
}
.input{
	display:flex;
	
}
.login-img img{
	width:80%;
}
.login-form{
	margin-top:50px;
}
.login-form input{
	width:300px;
	padding:10px;
	border-radius:10px;
	border:2px solid gray;
}
.login-form textarea{
	width:310px;
	height:100px;
	padding:5px;
	border-radius:10px;
	border:2px solid gray;
}

.login-form button{
	font-size:16px;
	color:white;
	background-color:DeepSkyBlue;
	padding:8px 20px;
	border-radius:10px;
	border:2px solid gray;
}
.footer{
	width:80%;
	height:150px;
	position:center;
	background-color:black;
	margin:auto;
	margin-top:50px;
}
.last-area{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color:white;
	text-align:center;
	margin:auto;
	position:relative;
	padding-top:10px;
}

.last-area span{
	color:#9EFA42;
}